.App {
  font-family: Ubuntu;
  text-align: center;
}

h1 {
  font-size: 50px;
}
.draw {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  font-family: Ububtu;
  outline: none;
  color: #fff;
  background-color: #970617;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.draw:hover {
  background-color: #5f0c0c;
  cursor: url("https://cdn.discordapp.com/attachments/793662584784027698/847155136320897104/rsz_162199984523159334.png"),
    auto;
}

.draw:active {
  background-color: #5f0c0c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn:active {
  transform: translateY(4px);
}

.btn {
  color: rgb(233, 227, 227);
  border: solid 1px;
  background: rgb(233, 227, 227);
  border-radius: 50px;
  padding: 5px 5px;
  margin: 40px;
  font-family: Ubuntu;
  font-weight: bolder;
  transition: 0.4s linear;
  transition-delay: 0.2s;
  width: 250px;
  height: 300px;
  font-size: 70px;
}

.btn:hover {
  cursor: url("https://cdn.discordapp.com/attachments/793662584784027698/847135765418737724/162199984523159334.png"),
    auto;

  color: black;

  -webkit-transform: rotateY(360deg);
}

.top {
  font-size: 50px;
  display: inline-block;
  color: white;
  font-weight: bold;
}

.top:hover {
  color: black;
}

.bottom,
.bottom1 {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
